# ===================================
# Raylib C++ Project .gitignore
# ===================================

# Object files
*.o

# Executables
game
*.exe
*.out

# Build folders
/build/
/bin/
/obj/

# Editor / IDE files
.vscode/
.idea/
*.log

# macOS / Linux / Windows junk
.DS_Store
Thumbs.db
